<form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
    
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput id="first-name" type="text" formControlName="name" required>
    </mat-form-field>

    
  
    <div formArrayName="roles">
        
      <button type="button" mat-raised-button (click)="addRole()">Add role</button>
      
      <div *ngFor="let role of roles.controls; let i=index">
        <!-- The repeated role template -->
        <mat-form-field>
        <mat-label>Role</mat-label>
        <input matInput id="role-{{ i }}" type="text" [formControlName]="i">
    </mat-form-field>
      </div>
    </div>
    <button type="submit" [disabled]="!userForm.valid" mat-raised-button >Submit</button>
  </form>
  
  <hr>
  
  <p>Form Value: {{ userForm.value | json }}</p>
  
  <p>Form Status: {{ userForm.status }}</p>
  