button{
    margin-top: 10px;
    max-width: 300px;
    margin: 10px 0px 10px 240px;
    max-width: 160px;
}
form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    .mat-form-field {
        max-width: 400px;
    }
}